@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 800px;
  min-height: 1000px;
  margin-inline: auto;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  /* flex-wrap:wrap;
  flex-direction:row; */
  flex-flow: row wrap;
  /* align-items:flex-start; */
  align-content:space-between;
} 

.box {
  width: 100px;
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
  
}

.order {
    order:1;
}

.order2 {
    order:-1;
}

box:nth-child(2){
    order: 2;
}