@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  position: relative;
}

.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
  /* position: relative; */
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute {
  background-color: #f00;
  top: 0;
  left:0;
  position: absolute;
  z-index: 1;
}

.relative {
  background-color: #00f;
  top:300px;
  left: 100px;
  position: relative;
}

.fixed {
  background-color: green;

  position: fixed;
  top:100px;
  /* z-index: 2; */
}

.sticky {
  background-color: #000;
  top:0;
  position: sticky;
}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

header, footer {
  color: #fff;
  text-align: center;
  height: 100px;
}

header {
  position: sticky;
  top:0px;
  font-size: 5rem;
}

footer {
  background-color:aqua;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.social {
  background-color: royalblue;
  color: #fff;
  font-size: inherit;
  padding: 1rem;
  position: fixed;
  top:30%;
  z-index: 1;
  left: 0;
}

