.external {
    color: rgb(80, 106, 17);
    font-style: italic;
}

*{
    font-family: monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: papayawhip;
}

h1 {
    color: brown;
}

h1.yellow {
    color: yellow;
}

p span {
    text-transform: uppercase;
}

.articlefont{
    font-size: 20px;
    color: red;
    text-decoration: underline;
}


#para{
    color: rgb(0,0,255);
}

#para1 {
    color: rgba(52, 33, 74, 0.5);
}

#para2{
    color: #f300f3;
}

a:hover{
    color: red;
}

.unit {
    font-size: 2rem;
    margin: 40px;
    border: 2px solid red; 
    /* border-style: dashed;
    border-width: 2px;*/
    border-color: red;
}

.unit1 {
    border: 2px solid red;
    width: 80%;
    height: 100px;
     /* margin-top: 30px; 
    margin-right: ;
    margin-left: ;
    margin-bottom: ; */
    margin: 30px;
    padding: 10px;
}

.circle {
    width: 100px;
    height: 100px;
    border: 2px solid red;
    background-color: gold;
    margin: 30px;
    border-radius: 50px;
    outline: 5px solid red;
    outline-offset: 5px;
}

